@model Smart.Sample.Web.Models.SignInModel
<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="ace-icon fa fa-coffee green"></i> Login
            </h4>
            <div class="space-6"></div>
            <form id="formSignin" action="/sys/signin" method="post">
                <fieldset>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control", placeholder = "Please enter job number" })
                            <i class="ace-icon fa fa-user"></i>
                        </span>
                        @Html.ValidationMessageFor(m => m.LoginName)
                    </label>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Please enter password" })
                            <i class="ace-icon fa fa-lock"></i>
                        </span>
                        @Html.ValidationMessageFor(m => m.Password)
                    </label>
                    <div class="space"></div>
                    <div class="clearfix">
                        <label class="inline">
                            <input type="checkbox" class="ace" id="RememberMe" name="RememberMe">
                            <span class="lbl"> Remember me</span>
                        </label>
                        <button id="btnLogin" type="submit" class="width-35 pull-right btn btn-sm btn-primary no-border" data-form="#formSignin" data-loading-text="Login...">
                            <i class="ace-icon fa fa-key"></i>
                            <span class="bigger-110"> Sign in</span>
                        </button>
                    </div>
                    <div class="space-4"></div>
                </fieldset>
            </form>
            @*<div class="social-or-login center">
                    <span class="bigger-110">使用其它登录方式</span>
                </div>
                <div class="space-6"></div>
                <div class="social-login center">
                    <a class="btn btn-primary"><i class="ace-icon fa fa-facebook"></i></a>
                    <a class="btn btn-info"><i class="ace-icon fa fa-twitter"></i></a>
                    <a class="btn btn-danger"><i class="ace-icon fa fa-google-plus"></i></a>
                </div>*@
        </div><!-- /.widget-main -->

        <div class="toolbar clearfix">
            <div>
                <a href="#" data-target="#forgot-box" class="forgot-password-link">
                    <i class="ace-icon fa fa-arrow-left"></i> Forgot password
                </a>
            </div>
            <div>
                <a href="#" data-target="#signup-box" class="user-signup-link">
                    Sign up <i class="ace-icon fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.login-box -->
