@model Smart.Sample.Core.Entites.SysParam
@{
    ViewBag.Title = "Settings";
}
<style>
    .tab-pane .row { margin-left: 50px; }
</style>
<form class="form-horizontal">
    <div class="tabbable">
        <ul class="nav nav-tabs" id="tabs">
            <li class="active">
                <a aria-expanded="true" href="#tabs_1" data-toggle="tab">
                    <i class="green ace-icon fa fa-shopping-cart bigger-120"></i>
                    系统参数
                </a>
            </li>
            <li>
                <a aria-expanded="false" href="#tabs_2" data-toggle="tab">
                    <i class="green ace-icon fa fa-print bigger-120"></i>
                    打印参数
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tabs_1">
                <div class="row">
                    <label class="inline">
                        <input type="checkbox" class="ace" name="set1">
                        <span class="lbl"> 设置1</span>
                    </label>
                </div>
                <div class="row">
                    <label class="inline">
                        <input type="checkbox" class="ace" name="set2">
                        <span class="lbl"> 设置2</span>
                    </label>
                </div>
            </div>
            <div class="tab-pane fade" id="tabs_2">
            </div>
        </div>
        <div class="space-2"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-lg-push-1">
                <button class="btn btn-success" type="button" id="btn_save"><i class="fa fa-check"></i>  @this.T("Save") </button>
            </div>
        </div>
    </div>
</form>
<script>
    loadData(@Html.Raw(this.Model.ToJson()));
    $("#btn_save").on("click", function () {
        var postData = $("form").serialize().replace(/=0/g, "=true");
        $.post("/sys/savesysparams", postData, function (ret) {
            if (ret.error) {
                $.gritter.add({ class_name: 'gritter-warning', text: ret.error });
            } else {
                $.gritter.add({ class_name: 'gritter-info', text: ret.value });
            }
        });
    })
</script>