@{
    ViewBag.Title = "right_menu";
}
<div id="right-menu" class="modal aside" data-body-scroll="false" data-offset="true" data-placement="right" data-fixed="true" data-backdrop="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                </div>
            </div>

            <div class="modal-body">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="tabs">
                        <li class="active">
                            <a aria-expanded="true" href="#tabs_1" data-toggle="tab">
                                <i class="green ace-icon fa fa-space-shuttle bigger-120"></i>
                            </a>
                        </li>
                        <li>
                            <a aria-expanded="false" href="#tabs_2" data-toggle="tab">
                                <i class="green ace-icon fa fa-space-shuttle bigger-120"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tabs_1">
                            内容1
                        </div>
                        <div class="tab-pane fade" id="tabs_2">
                            内容2
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->

        <button class="aside-trigger btn btn-info btn-app btn-xs ace-settings-btn" data-target="#right-menu" data-toggle="modal" type="button">
            <i data-icon1="fa-plus" data-icon2="fa-minus" class="ace-icon fa fa-plus bigger-110 icon-only"></i>
        </button>
    </div><!-- /.modal-dialog -->
</div>