<div class="container-fluid" id="toolbar">
    <form class="form-inline" id="formCards">
        <label class="dark">Date</label>
        <div class="input-daterange input-group">
            <input type="text" class="input-sm form-control" name="start" />
            <span class="input-group-addon"><i class="fa fa-exchange"></i></span>
            <input type="text" class="input-sm form-control" name="end" />
        </div>
        <input name="search" class="form-control input-sm input-small no-padding" id="search" type="text" value="" placeholder="@this.T("Search")">
        <button class="btn btn-success btn-sm no-border" type="button" id="btnSearch"><span class="fa fa-search"></span> Search</button>
    </form>
</div>
<div>
    <table id="grid-cards"></table>
    <div id="grid-cards_pager"></div>
</div>
<script>
    $LAB.script(js("jqgrid", "moment", "datepicker")).wait(init);
    function init() {
        $('.input-daterange').datepicker({ autoclose: true });
        $("#btnSearch").on("click", function () {
            $("#grid-cards").jqGrid("setGridParam", { postData: $("#formBills").serialize() }).trigger("reloadGrid");
        });
        initJqGrid("#grid-cards", {
            url: "/menber/CardList",
            colNames: ['Card No.', 'Name', 'Phone', 'Card type', 'Amount', 'Give', 'Total', 'Charges', 'Owed', 'Date', 'Expire date', 'Source'],
            colModel: [
                { name: 'CardNo', },
                { name: 'Name', },
                { name: 'Phone', },
                { name: 'CardType', },
                { name: 'Amount', },
                { name: 'Give', },
                { name: 'Total', },
                { name: 'Charges', },
                { name: 'Owed', },
                { name: 'Date', },
                { name: 'ExpireDate', },
                { name: 'Source', }
            ]
        });
    }
</script>
