@{
    Layout = null;
    //var user = User as UserInfo<Models.User>;
    //var userinfo = user == null ? new Models.User() : user.UserData;
}
<header class="main-header">
    <a class="logo hidden-xs" href="/home">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini" title="Smart 框架示例"><i class="fa fa-home"></i></span>
        <span class="logo-lg">Smart 框架示例</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only"></span>
        </a>
        <div class="collapse navbar-collapse pull-left">
            <ul class="nav navbar-nav">
                <li><a href="javascript:;">@(ViewBag.Title != System.Configuration.ConfigurationManager.AppSettings["webapp:Name"] ? ViewBag.Title : "")</a></li>
            </ul>
        </div>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                  @* <li class="dropdown notifications-menu">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             <i class="fa fa-bell-o"></i>
             <span class="label label-warning">10</span>
         </a>
         <ul class="dropdown-menu">
             <li class="header"></li>
             <li>
                 <!-- inner menu: contains the actual data -->
                 <ul class="menu">
                     <li>
                         <a href="#">
                             <i class="fa fa-user text-aqua"></i>
                         </a>
                     </li>
                 </ul>
             </li>
             <li class="footer"><a href="#">View all</a></li>
         </ul>
     </li>

    <li class="dropdown user user-menu">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             <img src="~/Content/adminlte/img/avatar5.png" class="user-image" alt="User Image" />
             <span class="hidden-xs">@userinfo.UserName</span>
         </a>
         <ul class="dropdown-menu">
             <!-- User image -->
             <li class="user-header">
                 <img src="/content/adminlte/img/avatar5.png" class="img-circle" alt="User Image">
                 <p>
                     <small></small>
                 </p>
             </li>
             <!-- Menu Body -->
             <li class="user-body">
                     <div class="col-xs-4 text-center">
                         <a href="#">Followers</a>
                     </div>
                     <div class="col-xs-4 text-center">
                         <a href="#">Sales</a>
                     </div>
                     <div class="col-xs-4 text-center">
                         <a href="#">Friends</a>
                     </div>
                 </li>
             <!-- Menu Footer-->
             <li class="user-footer">
                 <div class="pull-left handle">
                     <a data-toggle="modal" data-target="#changePasswordModal" class="btn bg-green btn-flat">Change password</a>
                 </div>
                 <div class="pull-right">
                     <a href="/account/logoff" class="btn bg-red btn-flat">Exit</a>
                 </div>
             </li>
         </ul>
     </li>*@
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>