@{
    Layout = null;
    //var user = User as UserInfo<Models.User>;
    //var userinfo = user == null ? newModels.User() : user.UserData;
}
<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/content/adminlte/img/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p> 张三  </p>
                @*<a href="#"><i class="fa fa-circle text-success"></i> </a>*@
                <h5><small>上次登录: @DateTime.Now.ToString("yyyy-MM-dd HH:mm")</small></h5>

            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
                    <button type="submit" id="btn-search" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <ul class="sidebar-menu">
            <li><a href="#"><i class="fa fa-users text-yellow"></i> <span>主菜单</span></a></li>
            <li class="treeview">
                @*active*@
                <a href="#">
                    <i class="fa fa-list-alt"></i> <span>主菜单一</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-shopping-cart"></i> 叶子菜单一</a></li>
                    <li><a href="#"><i class="fa fa-money"></i> 叶子菜单二</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calendar"></i> <span>主菜单二</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-th"></i>  叶子菜单一</a></li>
                    <li><a href="#"><i class="fa fa-money"></i> 叶子菜单二</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i> <span>主菜单三</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-cart-plus"></i> 叶子菜单一</a></li>
                    <li><a href="#"><i class="fa fa-bell-o"></i> 叶子菜单二</a></li>
                    <li><a href="#"><i class="fa fa-cubes"></i> 叶子菜单三</a></li>
                </ul>
            </li>
            <li class="header">个人中心 </li>
            <li><a href="#"><i class="fa fa-user text-blue"></i> <span>我的信息</span></a></li>
            <li style="cursor:pointer;"><a data-toggle="modal" data-target="#changePasswordModal"><i class="fa fa-key text-green"></i> <span>修改密码</span></a></li>
            <li><a href="/home/signin" id="btn-exit"><i class="fa fa-power-off text-red"></i> <span>退出登录</span></a></li>
        </ul>
    </section>
</aside>
@Html.Partial("_ChangePassword")
<script>
    $(".sidebar-menu a[href]").each(function () {
        if ('@Request.Url.ToString().ToLower()'.indexOf(this.href) >= 0) {
            $(this).parent().addClass("active");
            return false;
        }
    });
    $("#btn-exit").click(function () {
        var url = $(this).attr("href");
        swal({
            title: "确认退出?", text: "点击【确定】按钮退出登录！", type: "warning",
            showCancelButton: true,
        }, function (isConfirm) {
            if (isConfirm) location.href = url;
        });
        return false;
    });
</script>