/*html, body, form, div, span, p, th, td { font-family: Arial,'Times New Roman','Microsoft YaHei',SimHei; font:  14px/0.75em Arial,'Times New Roman','Microsoft YaHei',SimHei; }*/
body { /*font-family: "Microsoft YaHei"; overflow-x: hidden;*/ }
mark { padding: 0; }
.skin-1 .nav-list > li { border-width: 0; }
.no-skin .nav-list > li { border-width: 0; }
.modal-dialog { z-index: 1041; }
.modal-content { border: 0; }
.form-group { margin-bottom: 12px; }
.form-horizontal .control-label { padding-top: 0px; }
.page-content { padding: 10px 20px; min-height: 100%; }
.fontstrong { font-weight: 700; }
.page-col-xs { padding-left: 0; padding-right: 0; }
.help-block { margin-bottom: 0; margin-top: 0; }
#toolbar.container-fluid { padding: 0 0 4px 0; }
#loading { display: none; text-align: center; position: absolute; z-index: 999999999; left: 0; top: 0; width: 100%; height: 100%; background-color: #fff; filter: alpha(opacity=90); -moz-opacity: 0.9; opacity: 0.9; }
.nav-search { right: auto; margin-left: 4px; }
/*jquery.validate*/
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }
input.error { border: 1px dashed red; }
label.error { color: red; font-size: 12px; margin-left: 4px; padding-left: 20px; background: url("/assets/images/close_16.png") left no-repeat; }
.validation-summary-errors { color: #a94442; }
    .validation-summary-errors li { list-style: none; }
.input-validation-error { border: 1px solid #a94442; }
.field-validation-error { color: #a94442; }
    .field-validation-error:before { content: "ㄨ"; }
/*jquery.validate end*/
/*.form-horizontal .control-label { padding-top: 0px; }*/
/*base*/
.umar-t1 { margin-top: 2px; }
.umar-t2 { margin-top: 4px; }
.tooltip { text-wrap: normal; word-break: keep-all; }
.close { -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; }
    .close:hover { color: red; -webkit-transform: rotate(90deg); -o-transform: rotate(90deg); -moz-transform: rotate(90deg); transform: rotate(90deg); }
/*base end*/
.datepicker { z-index: 999999 !important; }
/*ace-nav*/
.ace-nav > li { border-left: 0; }
/*ace-settings*/
/*.ace-settings-container { z-index: 9999; }*/
/*.ace-settings-box { z-index: 9999; }*/
.ace-settings-box .ace-settings-item { line-height: 24px; }
/*jqgrid*/
.ui-pg-button .ui-icon { font-size: 140% !important; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.ui-pg-button .ui-icon-seek-first:before { content: "\f100"; }
.ui-pg-button .ui-icon-seek-prev:before { content: "\f104"; }
.ui-pg-button .ui-icon-seek-next:before { content: "\f105"; }
.ui-pg-button .ui-icon-seek-end:before { content: "\f101"; }
.ui-th-column input[type=checkbox], input[type=radio] { margin: 0 0 0 4px; }

.margin-l-05em { margin-left: 0.5em; }

.list-group-item1 { overflow: hidden; position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd; }

.input-part { width: 100%; height: 40px; border-bottom: 1px solid #e4ebf0; line-height: 40px; position: relative; box-sizing: border-box; padding-right: 5px; padding-left: 24px; margin-top: 20px; }
    .input-part input { text-indent: 15px; border: 0; background: transparent; outline: 0; width: 100%; font-size: 16px; }
        .input-part input:focus { background: transparent; }
    .input-part select { text-indent: 15px; border: 0; background: transparent; outline: 0; width: 100%; font-size: 16px; color: #36434d; line-height: 40px; }
.bottom-line { display: block; height: 2px; position: absolute; background-color: #1b87d9; bottom: -1px; width: 0; left: 50%; -webkit-transition: width .2s ease-in, left .2s ease-in; -moz-transition: width .2s ease-in, left .2s ease-in; -ms-transition: width .2s ease-in, left .2s ease-in; -o-transition: width .2s ease-in, left .2s ease-in; transition: width .2s ease-in, left .2s ease-in; }
.input-active .bottom-line { width: 100%; left: 0; -webkit-transition: width .3s cubic-bezier(0.66, 1.65, .23, .87), left .3s cubic-bezier(0.66, 1.65, .23, .87); -moz-transition: width .3s cubic-bezier(0.66, 1.65, .23, .87), left .3s cubic-bezier(0.66, 1.65, .23, .87); -ms-transition: width .3s cubic-bezier(0.66, 1.65, .23, .87), left .3s cubic-bezier(0.66, 1.65, .23, .87); -o-transition: width .3s cubic-bezier(0.66, 1.65, .23, .87), left .3s cubic-bezier(0.66, 1.65, .23, .87); transition: width .3s cubic-bezier(0.66, 1.65, .23, .87), left .3s cubic-bezier(0.66, 1.65, .23, .87); }
