@{
    ViewBag.Title = "Consume Bill";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 page-col-xs">
        <div class="table-header">
            <div class="row">
                <div class="col-xs-12 col-md-3 col-sm=12">
                    <a class="btn btn-danger" id="deletes" href="/Consume/Invalid"><span class="glyphicon glyphicon-trash"></span> 批量作废</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <form id="form0" action="/Consume/QueryBill" method="post" data-ajax-update="#billData" data-ajax-success="onSuccess(1,1,1)" data-ajax-mode="replace" data-ajax="true">
                        <span class="input-icon input-icon-right">
                            <select name="billType" id="billType">
                                <option selected="selected" value="BillDate">按单据日期查询</option>
                                <option value="AddDate">按开单时间查询</option>
                            </select>
                        </span>
                        <span class="input-icon input-icon-right">
                            <input name="startDate" class="form-control form_datetime input-sm" id="startDate" type="text" value="2016/4/1">
                            <i class="icon-calendar blue"></i>
                        </span>
                        <span class="fa fa-minus dark"></span>
                        <span class="input-icon input-icon-right">
                            <input name="endDate" class="form-control form_datetime input-sm" id="endDate" type="text" value="2016/4/1">
                            <i class="icon-calendar blue"></i>
                        </span>
                        <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search"></span>查询</button>
                    </form>
                </div>
            </div>
        </div>
        <table id="grid-table"></table>
        <div id="grid-pager"></div>
    </div>
</div>
@section scripts{
    <script>
        $LAB.script(js("jqgrid", "datepicker")).wait(init);
        function init() {
            @(Html.JqGrid(id: "grid-table", caption: "basic demo", url: "FirstGrid")
                .SetCellEdit(cellUrl: "FirstGrid")
                .SetGridView()
                .SetHeight(300)
                .AddColumn(new Column("CategoryName", label: "类别", searchable: true))
                .AddColumn(new Column("ProductName", label: "名称", editable: true))
                .AddColumn(new Column("Country", label: "国家"))
                .AddColumn(new Column("Price", label: "价格"))
                .AddColumn(new Column("Quantity", label: "数量"))
            )
        }

    </script>
}
