
@{
    ViewBag.Title = "ImageInput";
}
<span class="profile-picture">
    <img id="face" class="editable img-responsive" alt="头像" src="~/Assets/images/headphoto.jpg">
</span>

<script>
    var last_gritter
    $('#face').editable({
        type: 'image',
        name: 'face',
        value: null,
        //onblur: 'ignore',  //don't reset or hide editable onblur?!
        image: {
            //specify ace file input plugin's options here
            btn_choose: '修改头像',
            droppable: true,
            maxSize: 110000,//~100Kb
            name: 'face',//put the field name here as well, will be used inside the custom plugin
            on_error : function(error_type) {//on_error function will be called when the selected file has a problem
                if(last_gritter) $.gritter.remove(last_gritter);
                if(error_type == 1) {//file format error
                    last_gritter = $.gritter.add({
                        title: 'File is not an image!',
                        text: 'Please choose a jpg|gif|png image!',
                        class_name: 'gritter-error gritter-center'
                    });
                } else if(error_type == 2) {//file size rror
                    last_gritter = $.gritter.add({
                        title: 'File too big!',
                        text: 'Image size should not exceed 100Kb!',
                        class_name: 'gritter-error gritter-center'
                    });
                }
                else {//other error
                }
            },
            on_success : function() {
                $.gritter.removeAll();
            }
        },
        url: function(params) {
            // ***UPDATE AVATAR HERE*** //
            //for a working upload example you can replace the contents of this function with 
            //examples/profile-avatar-update.js
			
            var deferred = new $.Deferred
			
            var value = $('#avatar').next().find('input[type=hidden]:eq(0)').val();
            if(!value || value.length == 0) {
                deferred.resolve();
                return deferred.promise();
            }
			
			
            //dummy upload
            setTimeout(function(){
                if("FileReader" in window) {
                    //for browsers that have a thumbnail of selected image
                    var thumb = $('#avatar').next().find('img').data('thumb');
                    if(thumb) $('#avatar').get(0).src = thumb;
                }
								
                deferred.resolve({'status':'OK'});
			
                if(last_gritter) $.gritter.remove(last_gritter);
                last_gritter = $.gritter.add({
                    title: 'Avatar Updated!',
                    text: 'Uploading to server can be easily implemented. A working example is included with the template.',
                    class_name: 'gritter-info gritter-center'
                });
								
            } , parseInt(Math.random() * 800 + 800))
			
            return deferred.promise();
							
            // ***END OF UPDATE AVATAR HERE*** //
        },
						
        success: function(response, newValue) {
        }
    })

</script>