@{
    ViewBag.Title = "zTree";
}
<link href="/Assets/css/ztree/metroStyle.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-4">
        <label class="text-warning">普通树</label>
        <ul id="tree1" class="ztree" style="width:230px; overflow:auto;"></ul>
    </div>
    <div class="col-md-4">
        <label class="text-warning">异步一次加载所有节点</label>
        <ul id="tree2" class="ztree" style="width:230px; overflow:auto;"></ul>
    </div>
    <div class="col-md-4">
        <label class="text-warning">异步加载节点数据</label>
        <ul id="tree3" class="ztree" style="width:230px; overflow:auto;"></ul>
    </div>
</div>
<script>
    $LAB.script(js("ztree")).wait(function () {
        // 普通树
        var setting1 = {
            check: {
                enable: true
            },
        },
        zTree1Nodes = [{
            "name": "网站导航", open: true, children: [
               { "name": "google", "url": "http://g.cn", "target": "_blank" },
               { "name": "baidu", "url": "http://baidu.com", "target": "_blank" },
               { "name": "sina", "url": "http://www.sina.com.cn", "target": "_blank" }
            ]
        }],
        zTreeObj1 = $.fn.zTree.init($("#tree1"), setting1, zTree1Nodes);

        // 异步加载树
        var setting2 = {
            async: {
                enable: true,
                url: "/demo/getZTree2Nodes",
                autoParam: ["id", "name=n", "level=lv"],
                otherParam: { "otherParam": "zTreeAsyncTest" }
            }
        },
      zTreeObj2 = $.fn.zTree.init($("#tree2"), setting2);

        // 异步加载节点数据
        var setting3 = {
            async: {
                enable: true,
                url: "/demo/getZTree3Nodes",
                autoParam: ["id", "name=n", "level=lv"],
                otherParam: { "otherParam": "zTreeAsyncTest" }
            }
        },
        zTreeObj3 = $.fn.zTree.init($("#tree3"), setting3);
    });
</script>
