@model Smart.Samples.Web.Controllers.CheckBoxTestViewModel
@{
    ViewBag.Title = "CheckBoxTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center">
    <p>
        @ViewBag.Json;
    </p>
    <form>
        <input type="checkbox" name="Chk" value="0">
        <div>
            <input type="checkbox" name="Chk1" value="1">1
            <input type="checkbox" name="Chk1" value="2">2
            <input type="checkbox" name="Chk1" value="3">3
        </div>
        <div>
            <input type="checkbox" disabled name="Chk2" value="1">1
            <input type="checkbox" disabled name="Chk2" value="2">2
            <input type="checkbox" disabled name="Chk2" value="3">3
        </div>
        <button type="button" class="btn btn-primary" id="btnLoad0">load0</button>
        <button type="button" class="btn btn-primary" id="btnLoad1">load1</button>
        <button type="button" class="btn btn-primary" id="btnTest">提交</button>
        <button type="button" class="btn btn-primary" id="btnGet">Get</button>
        <table id="grid-table"></table>
    </form>
</div>
@section scripts{
    <script>
        $LAB.script(IS_IE || IS_OLD_IE ? "/assets/js/jquery1.min.js" : "/assets/js/jquery2.min.js")
                .script("/assets/js/bootstrap/bootstrap.min.js",
                          "/assets/js/ace/ace-elements.min.js",
                          "/assets/js/ace/ace.min.js",
                          "/assets/js/common.js")
            .script(js("validate"))
                .wait(function () {
                    submitForm({
                        button: "#btnTest",
                        url: "/home/SaveTest",
                        begin: function (data) {
                            var names = $(":checkbox").attr("name");
                            alert(JSON.stringify(data));
                        },
                        end: function (ret) {
                            alert(JSON.stringify(ret));
                        }
                    })
                    $("#btnLoad0").click(function () {
                        loadData({ Chk: 0, Chk1: "1,2", Chk2: "3" });
                    })
                    $("#btnLoad1").click(function () {
                        loadData({ Chk: 1, Chk1: "3", Chk2: "1,2" });
                    });

                    var grid_data = [
     { id: "1", name: "Desktop Computer", note: "note", stock: "Yes", ship: "FedEx", sdate: "2007-12-03" },
     { id: "2", name: "Laptop", note: "Long text ", stock: "Yes", ship: "InTime", sdate: "2007-12-03" },
     { id: "3", name: "LCD Monitor", note: "note3", stock: "Yes", ship: "TNT", sdate: "2007-12-03" },
     { id: "4", name: "Speakers", note: "note", stock: "No", ship: "ARAMEX", sdate: "2007-12-03" },
     { id: "5", name: "Laser Printer", note: "note2", stock: "Yes", ship: "FedEx", sdate: "2007-12-03" },
     { id: "6", name: "Play Station", note: "note3", stock: "No", ship: "FedEx", sdate: "2007-12-03" },
     { id: "7", name: "Mobile Telephone", note: "note", stock: "Yes", ship: "ARAMEX", sdate: "2007-12-03" },
     { id: "8", name: "Server", note: "note2", stock: "Yes", ship: "TNT", sdate: "2007-12-03" },
     { id: "9", name: "Matrix Printer", note: "note3", stock: "No", ship: "FedEx", sdate: "2007-12-03" },
     { id: "10", name: "Desktop Computer", note: "note", stock: "Yes", ship: "FedEx", sdate: "2007-12-03" },
     { id: "11", name: "Laptop", note: "Long text ", stock: "Yes", ship: "InTime", sdate: "2007-12-03" },
     { id: "12", name: "LCD Monitor", note: "note3", stock: "Yes", ship: "TNT", sdate: "2007-12-03" },
     { id: "13", name: "Speakers", note: "note", stock: "No", ship: "ARAMEX", sdate: "2007-12-03" },
     { id: "14", name: "Laser Printer", note: "note2", stock: "Yes", ship: "FedEx", sdate: "2007-12-03" },
     { id: "15", name: "Play Station", note: "note3", stock: "No", ship: "FedEx", sdate: "2007-12-03" },
     { id: "16", name: "Mobile Telephone", note: "note", stock: "Yes", ship: "ARAMEX", sdate: "2007-12-03" },
     { id: "17", name: "Server", note: "note2", stock: "Yes", ship: "TNT", sdate: "2007-12-03" },
     { id: "18", name: "Matrix Printer", note: "note3", stock: "No", ship: "FedEx", sdate: "2007-12-03" },
     { id: "19", name: "Matrix Printer", note: "note3", stock: "No", ship: "FedEx", sdate: "2007-12-03" },
     { id: "20", name: "Desktop Computer", note: "note", stock: "Yes", ship: "FedEx", sdate: "2007-12-03" },
     { id: "21", name: "Laptop", note: "Long text ", stock: "Yes", ship: "InTime", sdate: "2007-12-03" },
     { id: "22", name: "LCD Monitor", note: "note3", stock: "Yes", ship: "TNT", sdate: "2007-12-03" },
     { id: "23", name: "Speakers", note: "note", stock: "No", ship: "ARAMEX", sdate: "2007-12-03" }
                    ];
                    jQuery("#grid-table").jqGrid('GridDestroy');
                    jQuery("#grid-table").jqGrid({
                        data: grid_data,
                        datatype: "local",
                        height: 250,
                        colNames: ['ID', 'Last Sales', 'Name', 'Stock', 'Ship via', 'Notes'],
                        colModel: [
                            { name: 'id', index: 'id', width: 60, sorttype: "int", editable: true },
                            { name: 'sdate', index: 'sdate', width: 90, editable: true, sorttype: "date", unformat: pickDate },
                            { name: 'name', index: 'name', width: 150, editable: true, editoptions: { size: "20", maxlength: "30" } },
                            { name: 'stock', index: 'stock', width: 70, editable: true, edittype: "checkbox", editoptions: { value: "Yes:No" }, unformat: aceSwitch },
                            { name: 'ship', index: 'ship', width: 90, editable: true, edittype: "select", editoptions: { value: "FE:FedEx;IN:InTime;TN:TNT;AR:ARAMEX" } },
                            { name: 'note', index: 'note', width: 150, sortable: false, editable: true, edittype: "textarea", editoptions: { rows: "2", cols: "10" } }
                        ],
                        viewrecords: true,
                        altRows: true,
                        caption: "jqGrid with inline editing"
                    });

                    $("#btnGet").click(function () {

                    });
                });
    </script>
}