@{
    ViewBag.Title = "OpenCard";
}
<div class="modal-header" data-target="#modal-step-contents">
    <ul class="steps">
        <li data-step="1" class="active">
            <span class="step">1</span>
            <span class="title">会员信息</span>
        </li>
        <li data-step="2">
            <span class="step">2</span>
            <span class="title">选择员工</span>
        </li>
        <li data-step="2">
            <span class="step">2</span>
            <span class="title">结算方式</span>
        </li>
    </ul>
</div>
<div class="modal-body step-content" id="modal-step-contents">
    <div class="step-content">
        <div class="step-pane active" data-step="1">
                <form class="form-horizontal" id="openCardForm0" action="/OpenCard/Create" method="post" novalidate="novalidate" data-ajax-update="#modal-step1" data-ajax-success="onSuccess(1, 1, 0);" data-ajax-mode="replace" data-ajax="true">
                    <input name="__RequestVerificationToken" type="hidden" value="sIof7FYrY5xa2ZqiQOX0gRpLiIJH_jRadDmbAwYp6NRie9LDUWuWSy1BlA3k6jzDgPVE1YmxDViB5GqkEarNG-gYdEtQwv2OnLzv3lawgC81">    <div class="row">
                        <div class="col-xs-6 col-sm-6 no-padding-right">
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 control-label no-padding-right myrequired-" for="OpenCardMode">开卡模式</label>
                                <div class="col-xs-9 col-sm-9 no-padding-right">
                                    <span class="block" onclick="OpenCardMode()">
                                        <label style="margin:0 0 0 10px;"> <input name="OpenCardMode" id="OpenCardMode" type="radio" checked="checked" value="NewCard" viewdatacontainer="ASP._Page_Views_OpenCard_CardInfo_cshtml" viewdata="System.Web.Mvc.ViewDataDictionary`1[MRSoft.Site.Models.CashiercClient.OpenCardModel]" viewcontext="System.Web.Mvc.ViewContext" viewbag="System.Web.Mvc.DynamicViewDataDictionary" routecollection="System.Web.Routing.RouteCollection">  新开卡</label><label style="margin:0 0 0 10px;"> <input name="OpenCardMode" id="OpenCardMode" type="radio" value="NotCard" viewdatacontainer="ASP._Page_Views_OpenCard_CardInfo_cshtml" viewdata="System.Web.Mvc.ViewDataDictionary`1[MRSoft.Site.Models.CashiercClient.OpenCardModel]" viewcontext="System.Web.Mvc.ViewContext" viewbag="System.Web.Mvc.DynamicViewDataDictionary" routecollection="System.Web.Routing.RouteCollection">  不开卡</label>
                                    </span>
                                </div>
                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="OpenCardMode"></span></b></mark>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 control-label no-padding-right myrequired" for="Name">顾客姓名</label>
                                <div class="col-xs-5 col-sm-5 no-padding-right">
                                    <span class="block">
                                        <input name="Name" id="Name" type="text" value="" data-val-required="顾客姓名 字段是必需的。" data-val="true" data-val-length-max="50" data-val-length="字段 顾客姓名 必须是最大长度为 50 的字符串。">
                                        <input name="MemberId" id="MemberId" type="hidden" value="00000000-0000-0000-0000-000000000000" data-val-required="MemberId 字段是必需的。" data-val="true">
                                    </span>
                                </div>
                                <button class="btn btn-success btn-xs" id="selectmember" type="button">选择老顾客</button>
                                <button class="btn btn-danger btn-xs" id="deletemember" style="display: none" type="button">清空</button>
                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Name"></span></b></mark>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 control-label no-padding-right myrequired-" for="PinYinShortCode">拼音简码</label>
                                <div class="col-xs-9 col-sm-9 no-padding-right">
                                    <span class="block">
                                        <input name="PinYinShortCode" class="width-80" id="PinYinShortCode" type="text" value="" data-val="true" data-val-length-max="50" data-val-length="字段 拼音简码 必须是最大长度为 50 的字符串。">
                                    </span>
                                </div>
                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="PinYinShortCode"></span></b></mark>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 control-label no-padding-right myrequired-" for="Phone">手机号码</label>
                                <div class="col-xs-9 col-sm-9 no-padding-right">
                                    <span class="block">
                                        <input name="Phone" class="width-80" id="Phone" type="text" value="" data-val="true" data-val-length-max="50" data-val-length="字段 手机号码 必须是最大长度为 50 的字符串。">
                                    </span>
                                </div>
                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Phone"></span></b></mark>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 control-label no-padding-right myrequired-" for="Birthday">生　　日</label>
                                <div class="col-xs-9 col-sm-9 no-padding-right">
                                    <span class="block">

                                        <input name="Birthday_Text" class="width-80" id="Birthday_Text" type="text" readonly="readonly" placeholder="点击选择日期" value="">
                                        <div class="popover fade bottom in" style="display: none; width: 260px; top: 30px; left: 10px">
                                            <div class="popover-content">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-sm-12 no-padding-right">
                                                            <span class="block">
                                                                <label style="margin:0 0 0 10px;"> <input name="Birthday.Calendar" id="Birthday.Calendar" type="radio" checked="checked" value="Solar">  公历</label><label style="margin:0 0 0 10px;"> <input name="Birthday.Calendar" id="Birthday.Calendar" type="radio" value="Lunar">  农历</label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-sm-12 no-padding-right">
                                                            <span class="block">
                                                                <select name="Birthday.Year" id="Birthday_Year" data-val-required="Year 字段是必需的。" data-val="true" data-val-number="字段 Year 必须是一个数字。" data-value="0"><option value="0">请选择</option><option value="1900">1900年</option><option value="1901">1901年</option><option value="1902">1902年</option><option value="1903">1903年</option><option value="1904">1904年</option><option value="1905">1905年</option><option value="1906">1906年</option><option value="1907">1907年</option><option value="1908">1908年</option><option value="1909">1909年</option><option value="1910">1910年</option><option value="1911">1911年</option><option value="1912">1912年</option><option value="1913">1913年</option><option value="1914">1914年</option><option value="1915">1915年</option><option value="1916">1916年</option><option value="1917">1917年</option><option value="1918">1918年</option><option value="1919">1919年</option><option value="1920">1920年</option><option value="1921">1921年</option><option value="1922">1922年</option><option value="1923">1923年</option><option value="1924">1924年</option><option value="1925">1925年</option><option value="1926">1926年</option><option value="1927">1927年</option><option value="1928">1928年</option><option value="1929">1929年</option><option value="1930">1930年</option><option value="1931">1931年</option><option value="1932">1932年</option><option value="1933">1933年</option><option value="1934">1934年</option><option value="1935">1935年</option><option value="1936">1936年</option><option value="1937">1937年</option><option value="1938">1938年</option><option value="1939">1939年</option><option value="1940">1940年</option><option value="1941">1941年</option><option value="1942">1942年</option><option value="1943">1943年</option><option value="1944">1944年</option><option value="1945">1945年</option><option value="1946">1946年</option><option value="1947">1947年</option><option value="1948">1948年</option><option value="1949">1949年</option><option value="1950">1950年</option><option value="1951">1951年</option><option value="1952">1952年</option><option value="1953">1953年</option><option value="1954">1954年</option><option value="1955">1955年</option><option value="1956">1956年</option><option value="1957">1957年</option><option value="1958">1958年</option><option value="1959">1959年</option><option value="1960">1960年</option><option value="1961">1961年</option><option value="1962">1962年</option><option value="1963">1963年</option><option value="1964">1964年</option><option value="1965">1965年</option><option value="1966">1966年</option><option value="1967">1967年</option><option value="1968">1968年</option><option value="1969">1969年</option><option value="1970">1970年</option><option value="1971">1971年</option><option value="1972">1972年</option><option value="1973">1973年</option><option value="1974">1974年</option><option value="1975">1975年</option><option value="1976">1976年</option><option value="1977">1977年</option><option value="1978">1978年</option><option value="1979">1979年</option><option value="1980">1980年</option><option value="1981">1981年</option><option value="1982">1982年</option><option value="1983">1983年</option><option value="1984">1984年</option><option value="1985">1985年</option><option value="1986">1986年</option><option value="1987">1987年</option><option value="1988">1988年</option><option value="1989">1989年</option><option value="1990">1990年</option><option value="1991">1991年</option><option value="1992">1992年</option><option value="1993">1993年</option><option value="1994">1994年</option><option value="1995">1995年</option><option value="1996">1996年</option><option value="1997">1997年</option><option value="1998">1998年</option><option value="1999">1999年</option><option value="2000">2000年</option><option value="2001">2001年</option><option value="2002">2002年</option><option value="2003">2003年</option><option value="2004">2004年</option><option value="2005">2005年</option><option value="2006">2006年</option><option value="2007">2007年</option><option value="2008">2008年</option><option value="2009">2009年</option><option value="2010">2010年</option><option value="2011">2011年</option><option value="2012">2012年</option><option value="2013">2013年</option><option value="2014">2014年</option><option value="2015">2015年</option><option value="2016">2016年</option></select>
                                                                <select name="Birthday.Month" id="Birthday_Month" data-val-required="Month 字段是必需的。" data-val="true" data-val-number="字段 Month 必须是一个数字。" data-value="0"><option value="0">请选择</option></select>
                                                                <select name="Birthday.Day" id="Birthday_Day" data-val-required="Day 字段是必需的。" data-val="true" data-val-number="字段 Day 必须是一个数字。" data-value="0"><option value="0">请选择</option></select>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                                $(function () {
                                                    var $text = $("#Birthday_Text");
                                                    var $popover = $text.next();
                                                    var $content = $text.parent();
                                                    $("body").click(function (e) {
                                                        var $target = $(e.target);
                                                        if ($target.is($text)) {
                                                            var offset = $text.offset(),
                                                            top = offset.top + $text.height(),
                                                            left = offset.left;
                                                            if ($popover.is(":hidden")) {
                                                                $popover.show();
                                                            }
                                                            else {
                                                                $popover.hide();
                                                            }
                                                        }
                                                        else if ($popover.has(e.target).length > 0) { return; }
                                                        else if ($popover.is(":hidden") === false) {
                                                            $popover.hide();
                                                        }
                                                    });
                                                    $("input[name='Birthday.Calendar'][value='Solar']").attr("checked", "checked");
                                                    var type = $("input[name='Birthday.Calendar']:checked").val();
                                                    var lunar = new Lunar({
                                                        yearEle: $("select[name='Birthday.Year']"),
                                                        monthEle: $("select[name='Birthday.Month']"),
                                                        dayEle: $("select[name='Birthday.Day']"),
                                                        type: type,
                                                        change: function () {
                                                            $text.val(this.text());
                                                        },
                                                        isZero: true,
                                                        maxDate: { 'lunar': [2016, 2, 26], 'solar': [2016, 4, 3] },
                                                    });
                                                    $("input[name='Birthday.Calendar']").change(function () {
                                                        lunar.changeType($(this).val());
                                                    });
                                                });
                                        </script>
                                    </span>
                                </div>
                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Birthday"></span></b></mark>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 control-label no-padding-right myrequired-">性　　别</label>
                                <div class="col-xs-9 col-sm-9 no-padding-right">
                                    <span class="block">
                                        <label style="margin:0 0 0 10px;"> <input name="Sex" id="Sex" type="radio" checked="checked" value="Woman" viewdatacontainer="ASP._Page_Views_OpenCard_CardInfo_cshtml" viewdata="System.Web.Mvc.ViewDataDictionary`1[MRSoft.Site.Models.CashiercClient.OpenCardModel]" viewcontext="System.Web.Mvc.ViewContext" viewbag="System.Web.Mvc.DynamicViewDataDictionary" routecollection="System.Web.Routing.RouteCollection">  女</label><label style="margin:0 0 0 10px;"> <input name="Sex" id="Sex" type="radio" value="Man" viewdatacontainer="ASP._Page_Views_OpenCard_CardInfo_cshtml" viewdata="System.Web.Mvc.ViewDataDictionary`1[MRSoft.Site.Models.CashiercClient.OpenCardModel]" viewcontext="System.Web.Mvc.ViewContext" viewbag="System.Web.Mvc.DynamicViewDataDictionary" routecollection="System.Web.Routing.RouteCollection">  男</label>
                                    </span>
                                </div>
                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Sex"></span></b></mark>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-xs-offset-1 col-sm-offset-1 cropHeaderWrapper">
                            <div class="no-margin" id="cropContainerEyecandy"><div class="cropControls cropControlsUpload">  </div><form class="cropContainerEyecandy_imgUploadForm" style="display: none; visibility: hidden;">  <input name="img" type="file">  </form></div>
                            <input name="Photo" id="cropOutput" type="hidden" value="" data-val="true" data-val-length-max="100" data-val-length="字段 照片 必须是最大长度为 100 的字符串。">
                            <span class="btn btn-success btn-sm btn-block" id="cropContainerHeaderButton">点击上传头像</span>
                        </div>
                    </div>
                    <div id="moreinfo">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right myrequired-" for="CardCode">卡　　号</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input name="CardCode" class="width-80" id="CardCode" type="text" value="" data-val="true" data-val-length-max="50" data-val-length="字段 卡号 必须是最大长度为 50 的字符串。">
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CardCode"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right myrequired">卡&nbsp;&nbsp;类&nbsp;&nbsp;型</label>
                                    <div class="col-xs-12 col-sm-8 no-padding-right">
                                        <span class="block">
                                            <select name="CardCategoryId" id="CardCategoryId" data-val-required="会员卡类型 字段是必需的。" data-val="true">
                                                <option value="cf6525a6-4163-49a4-80de-a5d6016362f1">金卡</option>
                                                <option value="72d7902f-63ed-4839-ba03-a5d6016362f1">钻石卡</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CardCategoryId"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right myrequired-" for="Password">密　　码</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input name="Password" class="width-80" id="Password" type="password" value="" data-val="true" data-val-length-max="50" data-val-length="字段 密码 必须是最大长度为 50 的字符串。">
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Password"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right myrequired-" for="ConfirmPassword">确认密码</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input name="ConfirmPassword" class="width-80" id="ConfirmPassword" type="password" value="" data-val="true" data-val-equalto-other="*.Password" data-val-equalto="两次密码输入不一致">
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="ConfirmPassword"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right myrequired-" id="FastMoneyLabel" for="FastMoney">实收金额</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input name="FastMoney" class="width-80" id="FastMoney" onchange="moneyChange(event);" type="text" value="0" data-val-required="实收金额 字段是必需的。" data-val="true" data-val-number="字段 实收金额 必须是一个数字。" data-val-range-min="0.0" data-val-range-max="100000000.0" data-val-range="实收金额不能小于0">
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="FastMoney"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right myrequired-" id="DonateMoneyLabal" for="DonateMoney">赠送金额</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input name="DonateMoney" class="width-80" id="DonateMoney" type="text" value="" data-val="true" data-val-number="字段 赠送金额 必须是一个数字。" data-val-range-min="0.0" data-val-range-max="100000000.0" data-val-range="赠送金额不能小于0">
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="DonateMoney"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right myrequired-" for="DonateScore">赠送积分</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input name="DonateScore" class="width-80" id="DonateScore" type="text" value="" data-val="true" data-val-number="字段 赠送积分 必须是一个数字。" data-val-range-min="0.0" data-val-range-max="100000000.0" data-val-range="赠送积分不能小于0">
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="DonateScore"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right myrequired-" for="CardRemark">备　　注</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input name="CardRemark" class="width-80" id="CardRemark" type="text" value="" data-val="true" data-val-length-max="100" data-val-length="字段 卡备注 必须是最大长度为 100 的字符串。">
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CardRemark"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right myrequired-" for="IntroducerName">介 绍 人</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input name="IntroducerName" class="width-45" id="IntroducerName" type="text" readonly="readonly" value="">
                                            <button class="btn btn-success btn-xs" id="selectIntroducer" type="button">选择</button>
                                            <button class="btn btn-danger btn-xs" id="deleteIntroducer" style="display: none" type="button">清空</button>
                                            <input name="IntroducerId" id="IntroducerId" type="hidden" value="00000000-0000-0000-0000-000000000000" data-val-required="介绍人 字段是必需的。" data-val="true">
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="IntroducerId"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 no-padding-right">
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right myrequired-" for="CarNumber">车&nbsp;&nbsp;牌&nbsp;&nbsp;号</label>
                                    <div class="col-xs-12 col-sm-9 no-padding-right">
                                        <span class="block">
                                            <input name="CarNumber" class="width-80" id="CarNumber" type="text" value="">
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                        <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="CarNumber"></span></b></mark>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a href="#cardinfo_more" data-toggle="collapse">更多设置</a>
                                </div>
                            </div>
                            <div class="panel-collapse collapse" id="cardinfo_more">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 no-padding-right">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="OpenCardDate">开卡日期</label>
                                                <div class="col-xs-12 col-sm-9 no-padding-right">
                                                    <span class="block">
                                                        <input name="OpenCardDate" class="form-control width-80 form_datetime" id="OpenCardDate" onchange="setExpiryDate()" type="text" value="" data-val="true" data-val-date="字段 开卡日期 必须是日期。">
                                                    </span>
                                                </div>
                                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="OpenCardDate"></span></b></mark>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 no-padding-right">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="ExpiryDate">到期时间</label>
                                                <div class="col-xs-12 col-sm-9 no-padding-right">
                                                    <span class="block">
                                                        <input name="ExpiryDate" class="form-control width-80 form_datetime" id="ExpiryDate" type="text" value="" data-val="true" data-val-date="字段 到期时间 必须是日期。">
                                                    </span>
                                                </div>
                                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="ExpiryDate"></span></b></mark>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 no-padding-right">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="Admission">入 会 费</label>
                                                <div class="col-xs-12 col-sm-9 no-padding-right">
                                                    <span class="block">
                                                        <input name="Admission" class="width-80" id="Admission" type="text" value="" data-val="true" data-val-number="字段 入会费 必须是一个数字。" data-val-range-min="0.0" data-val-range-max="100000000.0" data-val-range="入会费不能小于0">
                                                    </span>
                                                </div>
                                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Admission"></span></b></mark>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 no-padding-right">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="DebtMoney">挂账金额</label>
                                                <div class="col-xs-12 col-sm-9 no-padding-right">
                                                    <span class="block">
                                                        <input name="DebtMoney" class="width-80" id="DebtMoney" type="text" value="" data-val="true" data-val-number="字段 挂账金额 必须是一个数字。" data-val-range-min="0.0" data-val-range-max="100000000.0" data-val-range="挂账金额不能小于0">
                                                    </span>
                                                </div>
                                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="DebtMoney"></span></b></mark>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 no-padding-right">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="IDCardNumber">身份证号码</label>
                                                <div class="col-xs-12 col-sm-9 no-padding-right">
                                                    <span class="block">
                                                        <input name="IDCardNumber" class="width-80" id="IDCardNumber" type="text" value="" data-val="true" data-val-length-max="100" data-val-length="字段 身份证号码 必须是最大长度为 100 的字符串。">
                                                    </span>
                                                </div>
                                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="IDCardNumber"></span></b></mark>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 no-padding-right">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="ManualCode">流水单号</label>
                                                <div class="col-xs-12 col-sm-9 no-padding-right">
                                                    <span class="block">
                                                        <input name="ManualCode" class="width-80" id="ManualCode" type="text" value="" data-val="true" data-val-length-max="50" data-val-length="字段 流水单号 必须是最大长度为 50 的字符串。">
                                                    </span>
                                                </div>
                                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="ManualCode"></span></b></mark>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 no-padding-right">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="BillDate">单据日期</label>
                                                <div class="col-xs-12 col-sm-9 no-padding-right">
                                                    <span class="block">
                                                        <input name="BillDate" class="form-control width-80  form_datetime" id="BillDate" type="text" value="2016/4/3" data-val-required="单据日期 字段是必需的。" data-val="true" data-val-date="字段 单据日期 必须是日期。">
                                                    </span>
                                                </div>
                                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="BillDate"></span></b></mark>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 no-padding-right">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="Remark">单据备注</label>
                                                <div class="col-xs-12 col-sm-9 no-padding-right">
                                                    <span class="block">
                                                        <input name="Remark" class="width-80" id="Remark" type="text" value="" data-val="true" data-val-length-max="100" data-val-length="字段 单据备注 必须是最大长度为 100 的字符串。">
                                                    </span>
                                                </div>
                                                <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                                                    <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Remark"></span></b></mark>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form><div class="modal-content" id="opencardIntroducer-list-content" style="display: none">
                    <div class="modal-header">
                        <button class="btn btn-xs btn-danger myclose" type="button">关闭</button>
                        <h4 class="modal-title"><span class="glyphicon glyphicon-plus">选择介绍人</span></h4>
                    </div>
                    <div class="modal-body">
                        <form id="form1" action="/OpenCard/QueryMemberCard" method="post" data-ajax-update="#Introducercardinfo" data-ajax-mode="replace" data-ajax="true">
                            <div class="row">
                                <div class="input-group">
                                    <input name="txtSearchCard" class="form-control search-query" id="txtSearchCard" type="text" placeholder="请输入姓名或卡号或手机号或拼音简码" value="">
                                    <span class="input-group-btn">
                                        <button class="btn btn-purple btn-sm" type="submit">
                                            会员查找<i class="fa fa-search icon-on-right bigger-110"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>        <div class="space-2"></div>
                        <div class="row">
                            <div class="col-xs-12 page-col-xs">
                                <div class="table-responsive" id="Introducercardinfo"></div>
                            </div>
                        </div>
                    </div>
                    <div class="model-foot">
                    </div>
                </div>
                <div class="modal-content" id="opencardmember-list-content" style="display: none">
                    <div class="modal-header">
                        <button class="btn btn-xs btn-danger myclose" type="button">关闭</button>
                        <h4 class="modal-title"><span class="glyphicon glyphicon-plus">选择老顾客</span></h4>
                    </div>
                    <div class="modal-body">
                        <form id="form2" action="/MemberCard/QueryMemberCard" method="post" data-ajax-update="#membercardinfo" data-ajax-mode="replace" data-ajax="true">
                            <div class="row">
                                <input name="txtSearchCard" class=" search-query width-40" id="txtSearchCard" type="text" placeholder="请输入姓名或卡号或手机号或拼音简码" value="">
                                <button class="btn btn-purple btn-sm" type="submit">
                                    会员查找<i class="fa fa-search icon-on-right bigger-110"></i>
                                </button>
                            </div>
                        </form>        <div class="space-2"></div>
                        <div class="row">
                            <div class="col-xs-12 page-col-xs">
                                <div class="table-responsive" id="membercardinfo">
                                    <table class="table table-striped table-bordered table-hover dataTable " id="memberlist">
                                        <thead>
                                            <tr>
                                                <th>
                                                    姓名
                                                </th>
                                                <th>
                                                    拼音简码
                                                </th>
                                                <th>
                                                    手机号码
                                                </th>
                                                <th>
                                                    性别
                                                </th>
                                                <th>
                                                    操作
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="model-foot">
                    </div>
                </div>
                <style>
                    #opencardmember-list-content { position: absolute; top: -10px; width: 90%; z-index: 12; }

                    #opencardIntroducer-list-content { position: absolute; top: -10px; width: 90%; z-index: 13; }
                </style>
                <script>
                        $("#opencardmember-list-content .myclose").click(function () {
                            $("#opencardmember-list-content").hide("slow");
                        });
                        $("#selectmember").click(function () {
                            $("#opencardmember-list-content").show("slow");
                        });
                        $("#deletemember").click(function () {
                            $("#Name").val("").removeAttr("readonly");
                            $("#Phone").val("").removeAttr("readonly");
                            $("#PinYinShortCode").val("").removeAttr("readonly");
                            $("#MemberId").val("00000000-0000-0000-0000-000000000000").removeAttr("readonly");;
                            $("#deletemember").fadeOut();
                        });
                        function selectMember(id, name, phone, sex, pinyin) {
                            $("#MemberId").val(id).attr("readonly", "readonly");
                            $("#Name").val(name).attr("readonly", "readonly");
                            $("#Phone").val(phone).attr("readonly", "readonly");
                            $("#PinYinShortCode").val(pinyin).attr("readonly", "readonly");
                            $("input[type='radio'][name='Sex']").attr("readonly", "readonly");
                            $("input[type='radio'][name='Sex'][value=" + sex + "]").attr("checked", true);
                            $("#opencardmember-list-content").hide("slow");
                            $("#deletemember").fadeIn();
                            return false;
                        }


                        $("#opencardIntroducer-list-content .myclose").click(function () {
                            $("#opencardIntroducer-list-content").hide("slow");
                        });
                        $("#selectIntroducer").click(function () {
                            $("#opencardIntroducer-list-content").show("slow");
                        });
                        $("#deleteIntroducer").click(function () {
                            $("#IntroducerName").val("");
                            $("#IntroducerId").val("00000000-0000-0000-0000-000000000000");
                            introducerstatus(true);
                        });
                        function selectintroducer(id, name) {
                            $("#IntroducerId").val(id);
                            $("#IntroducerName").val(name);
                            $("#opencardIntroducer-list-content").hide("slow");
                            introducerstatus(false);
                        }
                        function introducerstatus(status) {
                            if (status) {
                                $("#selectIntroducer").text("添加");
                                $("#deleteIntroducer").fadeOut();
                            }
                            else {
                                $("#selectIntroducer").text("修改");
                                $("#deleteIntroducer").fadeIn();
                            }
                        }
                </script>

        </div>
        <div class="step-pane" data-step="2">
            选择员工
        </div>
        <div class="step-pane" data-step="2">
            选择员工
        </div>
    </div>
    <div class="step-pane" id="modal-step2">
    </div>
    <div class="step-pane form-horizontal" id="modal-step3">
    </div>
</div>
<div class="modal-footer wizard-actions">
    <button class="btn btn-sm btn-prev" onclick="backStep();">
        <i class="icon-arrow-left"></i>
        上一步
    </button>
    <button class="btn btn-success btn-sm btn-next" id="btnNext" onclick="nextStep();" data-last="提交">
        下一步
        <i class="icon-arrow-right icon-on-right"></i>
    </button>
    <button class="btn btn-danger btn-sm" data-dismiss="modal">
        <i class="icon-remove"></i>
        关闭
    </button>
</div>
<script src="/Scripts/croppic/croppic.js"></script>
<script type="text/javascript">
                var scoreRatio;
                var expiryDay;
                function nextActive(step, nextData, data) {
                    var nstep = step + 1;
                    $('#modal-step' + nstep + '-li').addClass('active');
                    $('#modal-step' + nstep).addClass("active").html(nextData);
                    $('#modal-step' + step + '-li').removeClass("active").addClass("complete");
                    $('#modal-step' + step).removeClass("active").html(data);
                    if (step == 2) {
                        $('#btnNext').html("确　定 <i class='icon-arrow-right icon-on-right'></i>");
                    }
                }
                function nextStep() {
                    if ($("#modal-step1-li").hasClass("active")) {
                        $('#openCardForm0').submit();
                    } else if ($("#modal-step2-li").hasClass("active")) {
                        $('#openCardForm1').submit();
                    } else {
                        $('#openCardForm2').submit();
                    }
                }
                function checkout(cardId, isCard) {
                    updateAlert('操作成功', true);
                    publicModalSmClose();
                    closeMemberModal(cardId, isCard);
                }
                function backActive(step) {
                    var nstep = step - 1;
                    $('#modal-step' + nstep + '-li').removeClass("complete").addClass('active');
                    $('#modal-step' + nstep).addClass("active");
                    $('#modal-step' + step + '-li').removeClass("active");
                    $('#modal-step' + step).removeClass("active");
                }
                function backStep() {
                    if ($("#modal-step3-li").hasClass("active")) {
                        backActive(3);
                        $('#btnNext').html("下一步 <i class='icon-arrow-right icon-on-right'></i>");
                    } else if ($("#modal-step2-li").hasClass("active")) {
                        backActive(2);
                    } else {
                        //backActive(1);
                    }
                }
                function removeCardSuccess() {
                    $('#openCardForm1').attr("action", "/OpenCard/Employee").
                   attr("data-ajax-update", "#modal-step2").
                   removeAttr("data-ajax-success");
                }
                function removeCardEmp(empIndex, url) {
                    $('#openCardForm1').attr("action", url).
                    attr("data-ajax-update", "#openCardEmpList").
                    attr("data-ajax-success", "removeCardSuccess").submit();
                }
                var croppicHeaderOptions = {
                    uploadUrl: '/Croppic',
                    cropUrl: '/Croppic/Crop',
                    outputUrlId: 'cropOutput',
                    customUploadButtonId: 'cropContainerHeaderButton',
                    modal: false,
                    loaderHtml: '<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> '
                }
                var croppic = new Croppic('cropContainerEyecandy', croppicHeaderOptions);

                function setExpiryDate() {
                    if (expiryDay == null) {
                        $("#ExpiryDate[type='text']").val("");
                    } else {
                        var date = new Date();
                        var openCardDate = $("#OpenCardDate").val();
                        if (openCardDate != "")
                            date = new Date(openCardDate);
                        date.setDate(date.getDate() + expiryDay);
                        $("#ExpiryDate[type='text']").val(date.Format("yyyy-MM-dd"));
                    }
                }
                function getCardCategory(cardCategoryId) {
                    $.getJSON('/OpenCard/GetCardCategory', { 'cardCategoryId': cardCategoryId },
                        function (data, status) {
                            scoreRatio = data.OpenCardScore;
                            expiryDay = data.ExpiryDay;
                            var donateScore = scoreRatio * data.OpenCardMoney;
                            $('#FastMoney').val(data.OpenCardMoney);
                            $('#DonateMoney').val(data.OpenCardDonate);
                            $('#DonateScore').val(donateScore);
                            $('#Admission').val(data.Admission);
                            $('#CardCost').val(data.CostMoney);
                            setExpiryDate();
                        });
                }
                function moneyChange(event) {
                    if (event != null) {
                        var money = Number(event.target.value);
                        var donateScore = scoreRatio * money;
                        $('#DonateScore').val(donateScore);
                    }
                }
                function changeEmpMoney(event, baseMode) {
                    if (baseMode == 3) {
                        var targetId = event.target.id;
                        var money = event.target.value;
                        var cBaseTarget = targetId.replace("PerformanceMoney", "CommissionBase");
                        empPerformanceBase(cBaseTarget, money);
                    }
                }
                function empPerformanceBase(targetId, money) {
                    $('#' + targetId).val(money);
                    var cRateTarget = targetId.replace("CommissionBase", "CommissionRate");
                    var cCostTarget = targetId.replace("CommissionBase", "CommissionCost");
                    var cCost = $('#' + cCostTarget).val();
                    var cRate = $('#' + cRateTarget).val();
                    var cMoney = (cRate / 100) * (money - cCost);
                    cMoney = cMoney.toFixed(2);
                    var cMoneyTarget = targetId.replace("CommissionBase", "CommissionMoney");
                    $('#' + cMoneyTarget).val(cMoney);
                }
                ; function OpenCardMode() {
                    var OpenCardMode_val = $("input[name=OpenCardMode]:checked").val();
                    switch (OpenCardMode_val) {
                        case "NewCard":
                            $("#moreinfo").show();
                            $("#selectmember").show();
                            $("#FastMoneyLabel").html("实收余额");
                            $("#DonateMoneyLabal").html("赠送金额");
                            break;
                        case "OldCard":
                            $("#moreinfo").show();
                            $("#selectmember").show();
                            $("#FastMoneyLabel").html("老卡余额");
                            $("#DonateMoneyLabal").html("老卡赠送");
                            break;
                        case "NotCard":
                            $("#moreinfo").hide();
                            $("#deletemember").click();
                            $("#selectmember").hide();
                            break;
                    }
                };
                function publicModalSm(data) {
                    $("#modal-sm-content").html(data);
                    $("#publicmodal-sm").modal({
                        keyboard: false,
                        backdrop: false,
                        show: true
                    });
                    $("#publicmodal-sm").on('shown.bs.modal', function () {
                        $("#AuthCode").focus();
                    });
                };
                function publicModalSmClose() {
                    $('#publicmodal-sm').modal('hide');
                    $('#modal-sm-content').html('');
                }
                $(function () {
                    var cid = $('select#CardCategoryId').val();
                    getCardCategory(cid);
                    $('select#CardCategoryId').on('change', function () {
                        getCardCategory(this.value);
                    });
                    getChineseSpell('Name', 'PinYinShortCode');
                });
</script>
