@{
    ViewBag.Title = "充值";
}
<div class="modal-header" data-target="#modal-step-contents">
    <ul class="wizard-steps">
        <li class="active" id="modal-step1-li" data-target="#modal-step1">
            <span class="step">1</span>
            <span class="title">充值信息</span>
        </li>
        <li id="modal-step2-li" data-target="#modal-step2">
            <span class="step">2</span>
            <span class="title">选择员工</span>
        </li>
        <li id="modal-step3-li" data-target="#modal-step3">
            <span class="step">3</span>
            <span class="title">结算方式</span>
        </li>
    </ul>
</div>
<div class="modal-body step-content" id="modal-step-contents">
    <div class="step-pane active" id="modal-step1">
        <form class="form-horizontal" id="rechargeForm0">
            <div class="row">
                <div class="col-xs-12 col-sm-6 no-padding-right">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="BillDate">单据日期</label>
                        <div class="col-xs-12 col-sm-9 no-padding-right">
                            <span class="block">
                                <input name="BillDate" class="form-control width-80 form_datetime" id="BillDate" type="text" value="2016/4/3" data-val-required="单据日期 字段是必需的。" data-val="true" data-val-date="字段 单据日期 必须是日期。">
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="BillDate"></span></b></mark>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 no-padding-right">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="ManualCode">流水单号</label>
                        <div class="col-xs-12 col-sm-9 no-padding-right">
                            <span class="block">
                                <input name="ManualCode" class="width-80" id="ManualCode" type="text" value="" data-val="true" data-val-length-max="50" data-val-length="字段 流水单号 必须是最大长度为 50 的字符串。">
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="ManualCode"></span></b></mark>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 no-padding-right">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="MemberName">会员姓名</label>
                        <div class="col-xs-12 col-sm-9 no-padding-right">
                            <span class="block">
                                <input name="MemberName" class="width-80" id="MemberName" type="text" readonly="true" value="111">
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="MemberName"></span></b></mark>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 no-padding-right">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="MemberCardCode">会员卡号</label>
                        <div class="col-xs-12 col-sm-9 no-padding-right">
                            <span class="block">
                                <input name="MemberCardCode" class="width-80" id="MemberCardCode" type="text" readonly="True" value="111">
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="MemberCardCode"></span></b></mark>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 no-padding-right">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="FastMoney">实收金额</label>
                        <div class="col-xs-12 col-sm-9 no-padding-right">
                            <span class="block">
                                <input name="FastMoney" class="width-80" id="FastMoney" onchange="moneyChange(event);" type="text" value="0" data-val-required="实收金额 字段是必需的。" data-val="true" data-val-number="字段 实收金额 必须是一个数字。" data-val-range-min="0.0" data-val-range-max="100000000.0" data-val-range="实收金额不能小于0">
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="FastMoney"></span></b></mark>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 no-padding-right">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="DonateMoney">赠送金额</label>
                        <div class="col-xs-12 col-sm-9 no-padding-right">
                            <span class="block">
                                <input name="DonateMoney" class="width-80" id="DonateMoney" type="text" value="" data-val="true" data-val-number="字段 赠送金额 必须是一个数字。" data-val-range-min="0.0" data-val-range-max="100000000.0" data-val-range="赠送金额不能小于0">
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="DonateMoney"></span></b></mark>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 no-padding-right">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="DonateScore">赠送积分</label>
                        <div class="col-xs-12 col-sm-9 no-padding-right">
                            <span class="block">
                                <input name="DonateScore" class="width-80" id="DonateScore" type="text" value="0.00" data-val="true" data-val-number="字段 赠送积分 必须是一个数字。" data-val-range-min="0.0" data-val-range-max="100000000.0" data-val-range="赠送积分不能小于0">
                                <input name="ScoreRatio" id="ScoreRatio" type="hidden" value="0.0000" data-val-required="ScoreRatio 字段是必需的。" data-val="true" data-val-number="字段 ScoreRatio 必须是一个数字。">
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="DonateScore"></span></b></mark>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 no-padding-right">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="Remark">单据备注</label>
                        <div class="col-xs-12 col-sm-9 no-padding-right">
                            <span class="block">
                                <input name="Remark" class="width-80" id="Remark" type="text" value="" data-val="true" data-val-length-max="100" data-val-length="字段 单据备注 必须是最大长度为 100 的字符串。">
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-9 col-sm-offset-3 inline">
                            <mark><b><span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Remark"></span></b></mark>
                        </div>
                    </div>
                </div>
            </div>
            <input name="MemberCardId" id="MemberCardId" type="hidden" value="87792fdd-e0a5-428d-af99-a5db00d8ba64" data-val-required="MemberCardId 字段是必需的。" data-val="true"><input name="CardCategoryId" id="CardCategoryId" type="hidden" value="cf6525a6-4163-49a4-80de-a5d6016362f1" data-val-required="CardCategoryId 字段是必需的。" data-val="true">
        </form>
    </div>
    <div class="step-pane" id="modal-step2">
    </div>
    <div class="step-pane form-horizontal" id="modal-step3">
    </div>
</div>
<div class="modal-footer wizard-actions">
    <button class="btn btn-sm btn-prev" onclick="backStep();">
        <i class="icon-arrow-left"></i> 上一步
    </button>
    <button class="btn btn-success btn-sm btn-next" id="btnNext" onclick="nextStep();" data-last="提交">
        下一步 <i class="icon-arrow-right icon-on-right"></i>
    </button>
    <button class="btn btn-danger btn-sm" data-dismiss="modal">
        <i class="icon-remove"></i> 关闭
    </button>
</div>
<script type="text/javascript">

    function nextStep() {
        if ($("#modal-step1-li").hasClass("active")) {
            $('#rechargeForm0').submit();
        } else if ($("#modal-step2-li").hasClass("active")) {
            $('#rechargeForm1').submit();
        } else {
            $('#rechargeForm2').submit();
        }
    }
    function checkout(cardId) {
        updateAlert('充值成功!', true);
        publicModalSmClose();
        closeMemberModal(cardId);
    }
    function backActive(step) {
        var nstep = step - 1;
        $('#modal-step' + nstep + '-li').removeClass("complete").addClass('active');
        $('#modal-step' + nstep).addClass("active");
        $('#modal-step' + step + '-li').removeClass("active");
        $('#modal-step' + step).removeClass("active");
    }
    function backStep() {
        if ($("#modal-step3-li").hasClass("active")) {
            backActive(3);
            $('#btnNext').html("下一步 <i class='icon-arrow-right icon-on-right'></i>");
        } else if ($("#modal-step2-li").hasClass("active")) {
            backActive(2);
        } else {
            //backActive(1);
        }
    }
    function moneyChange(event) {
        if (event != null) {
            var money = Number(event.target.value);
            var scoreRatio = $("#ScoreRatio").val();
            var donateScore = scoreRatio * money;
            $('#DonateScore').val(donateScore);
        }
    }
    function removeRechargeSuccess() {
        $('#rechargeForm1').attr("action", "/Recharge/Employee").
        attr("data-ajax-update", "#modal-step2").
        removeAttr("data-ajax-success");
    }
    function removeRechargeEmp(empIndex, url) {
        $('#rechargeForm1').attr("action", url).
        attr("data-ajax-update", "#rechargeEmpList").
        attr("data-ajax-success", "removeRechargeSuccess").submit();
    };
    function publicModalSm(data) {
        $("#modal-sm-content").html(data);
        $("#publicmodal-sm").modal({
            keyboard: false,
            backdrop: false,
            show: true
        });
        $("#publicmodal-sm").on('shown.bs.modal', function () {
            $("#AuthCode").focus();
        });
    };
    function publicModalSmClose() {
        $('#publicmodal-sm').modal('hide');
        $('#modal-sm-content').html('');
    }
</script>
