<div class="container-fluid" id="toolbar">
    <form class="form-inline" id="formBills">
        <select name="billType" id="billType">
            <option selected="selected" value="BillDate">Bill date</option>
            <option value="AddDate">Operate date</option>
        </select>
        <div class="input-daterange input-group">
            <input type="text" class="input-sm form-control" name="start" />
            <span class="input-group-addon"><i class="fa fa-exchange"></i></span>
            <input type="text" class="input-sm form-control" name="end" />
        </div>
        <button class="btn btn-success btn-sm no-border" type="button" id="btnSearch">
            <span class="fa fa-search"></span> @this.T("Search")
        </button>
    </form>
</div>
<div class="space-2"></div>
<div>
    <table id="grid-bills"></table>
    <div id="grid-bills_pager"></div>
</div>
<script>
    function bills_init(gridOptions, fill) {
        $('.input-daterange').datepicker({ autoclose: true });
        $("#btnSearch").on("click", function () {
            $("#grid-bills").jqGrid("setGridParam", { postData: $("#formBills").serialize() }).trigger("reloadGrid");
        });
        initJqGrid("#grid-bills", gridOptions, fill);
    }
</script>
