
@{
    ViewBag.Title = "Index";
}
<link href="/Assets/css/forms/datepicker.min.css" rel="stylesheet" />
<form class="form-inline" id="form0">
    <select name="billType" id="billType">
        <option selected="selected" value="BillDate">bill date</option>
        <option value="AddDate">operate date</option>
    </select>
    <div class="input-daterange input-group">
        <input type="text" class="input-sm form-control" name="start" />
        <span class="input-group-addon"><i class="fa fa-exchange"></i></span>
        <input type="text" class="input-sm form-control" name="end" />
    </div>
    <button class="btn btn-success  btn-sm no-border" type="button">
        <span class="fa fa-search"></span>@this.T("Search")
    </button>
</form>
<div>
    <table id="grid-table"></table>
    <div id="grid_pager"></div>
</div>
<script>
    $LAB.script(js("jqgrid", "moment", "datepicker")).wait(function () {
        $(".input-daterange").datepicker();
        initJqGrid("#grid-table", {
            url: "ConsumeGrid",
            colNames: ['No.', 'Bill No.', 'Manual No.', 'Bill Date', 'Classify', 'Ways', 'Money', 'Status', 'Remark', 'Operation'],
            colModel: [
                { name: 'No', },
                { name: 'BillNo', },
                { name: 'ManualNo', },
                { name: 'Phone', },
                { name: 'BillDate', },
                { name: 'Classify', },
                { name: 'Money', },
                { name: 'Status', },
                { name: 'Remark', },
                { name: 'Operation', }
            ]
        });
    });

</script>
